.banner{
    background: black;
    height: 61vh;
    z-index: 1;
}
.banner .home{
    height: 61vh;
    display: flex;
    justify-content: center;
    z-index: -1;
    opacity: 0.4;
}
.foodRange{
     text-align: 'center';
     display: 'flex';
     flex-direction: row;
}
.inactive{
    border: 1px solid black;
}

.active{
    border: 3px solid red;
    color: red;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
}
@media only screen and(max-width: 600px){
    .banner ,.home{
        justify-content: center;
        align-items: center;
    }
    .foodRange{
        text-align: 'center';
         display: 'flex';
         flex-direction: column;
    }
}

